// home - product
.bg-info-image {
  &.info-right {
    div.container {
      div.interior {
        .bg-int-ornament-1 {
          display: block;
          position: absolute;
          right: px2vw(500px);
          bottom: 0px;
          width: px2vw(12550px);
          height: px2vw(500px);
          background: $remesh-aqua-transparent;
        }
        .bg-int-ornament-2 {
          display: block;
          position: absolute;
          left: px2vw(300px);
          top: px2vw(39px);
          width: px2vw(414px);
          height: px2vw(207px);
          background-image: url(../img/orn-home-product.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    @include mq($from: design) {
      div.container {
        div.interior {
          .bg-int-ornament-1 {
            right: 500px;
            width: 12550px;
            height: 500px;
          }
          .bg-int-ornament-2 {
            left: 300px;
            top: 39px;
            width: 414px;
            height: 207px;
          }
        }
      }
    }

    @include mq($until: phablet-next) {
      div.container {

        div.interior {

          .bg-int-ornament-1 {
            display: none;
          }

          .bg-int-ornament-2 {
            display: none;
          }

          div.other {
            .bg-other-ornament-1 {
              display: block;
              position: absolute;
              right: mobile-px2vw(30px);
              bottom: mobile-px2vw(0px);
              top: mobile-px2vw(5px);
              width: 900px;
              background: $remesh-aqua-transparent;
            }

            .bg-other-ornament-2 {
              display: block;
              position: absolute;

              top: mobile-px2vw(-50px);
              right: mobile-px2vw(-102px);
              width: mobile-px2vw(204px);
              height: mobile-px2vw(107px);

              background-image: url(../img/orn-home-product.svg);
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}

// home - solutions
.bg-info-icon-grid {
  &.info-left {
    div.container {
      div.interior {
        .bg-int-ornament-1 {
          position: absolute;
          
          @include _px(
            display block none,
            left 250px,
            bottom 50px,
            top 100px,
            width 12550px
          );

          background: $remesh-lightgray;
        }

        @include until-phablet() {
          div.other {
            .bg-other-ornament-1 {
              position: absolute;
              display: block;

              left: mobile-px2vw(0px);
              bottom: mobile-px2vw(20px);
              top: mobile-px2vw(45px);
              width: 15000px;

              background: $remesh-lightgray;
            }
          }
        }
      }
    }
  }
}

// home - about
.bg-info-circular-image {
  &.info-circular-image {
    div.container {
      div.interior {
        .bg-int-ornament-1 {
          position: absolute;

          @include _px(
            display block none,
            right 980px,
            top -110px,
            width 1157px,
            height 381px,
          );

          background-image: url(../img/orn-home-about.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        @include until-phablet() {
          div.other {
            .bg-other-ornament-1 {
              display: block !important;
              position: absolute;
              left: mobile-px2vw(-110px);
              top: mobile-px2vw(-40px);
              width: mobile-px2vw(1157px);
              height: mobile-px2vw(165px);
              background-image: url(../img/orn-home-about.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}

// home -testimonial
.bg-testimonial {
  div.container {
    div.interior {
      div.bg-int-ornament-1 {
        display: block;
        position: absolute;
        
        @include _px(
          right -315px -56px,
          top -145px -63px,
          width 584px 219px,
          height 370px 139px
        );

        background-image: url(../img/orn-home-casestudies.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

      }
    }
  }
}

// home - how it works
.bg-info-bullet-point {
  &.info-right {
    div.container {
      div.interior {
        .bg-int-ornament-1 {
          display: block;
          position: absolute;
          
          @include _px(
            left -232px -186px,
            bottom -200px -150px,
            width 463px 301px,
            height 372px (301px * (281px / 351px))
          );

          background-image: url(../img/orn-home-hiw.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

//home - resources
.bg-info-table-vertical-cell {
  div.container {
    div.interior {
      .bg-int-ornament-1 {
        display: block;
        position: absolute;
        
        @include _px(
          left 80px 50px,
          bottom -80px -12px,
          width 2646px,
          height 187px 121px
        );

        background-image: url(../img/orn-home-resources.svg);
        background-position: left center;
        background-size: contain;
      }
    }
  }
}

// Home - Case Studies
.bg-info-table-horizontal-cell {
  div.container {
    div.interior {
      .bg-int-ornament-1 {
        display: block;
        position: absolute;
        
        @include _px(
          left -182px -190px,
          bottom -140px -40px,
          width 584px 438px !important,
          height 370px 277px !important
        );

        //@include _transform(translateX -50% 0%, translateY 50% 0%);

        background-image: url(../img/orn-home-casestudies.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

// Home - Contact
.bg-info-form-with-image {
  &.info-left {
    div.container {
      div.interior {
        div.other {
          .bg-other-ornament-1 {
            z-index: 1;
            display: block;
            position: absolute;

            @include _px(
              left -75px 0px,
              bottom -60px -50px,
              width 361px 165px,
              height 361px 165px
            );

            background-image: url(../img/orn-home-contact.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  &.info-right {
    div.container {
      div.interior {
        div.other {
          .bg-other-ornament-1 {
            z-index: 1;
            display: block;
            position: absolute;
            right: px2vw(-75px);
            bottom: px2vw(-60px);
            width: px2vw(361px);
            height: px2vw(361px);
            transform: scaleX(-1);
            background-image: url(../img/orn-home-contact.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}

// Product - Video
.bg-info-video {
  div.container {
    div.interior {
      .bg-int-ornament-1 {
        display: block;
        z-index: 2;
        position: absolute;
        right: px2vw(-80px);
        top: px2vw(150px);
        width: px2vw(328px);
        height: px2vw(166px);
        background-image: url(../img/orn-home-product.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include mq($from: design) {
    div.container {
      div.interior {
        .bg-int-ornament-1 {
          right: (-80px);
          top: (150px);
          width: (328px);
          height: (166px);
        }
      }
    }
  }
}

// Product - Video
.bg-info-video-alt {
  div.container {
    div.interior {
      .bg-int-ornament-1 {
        z-index: 2;
        display: block;
        position: absolute;
        left: px2vw(0px);
        top: px2vw(200px);
        width: px2vw(328px);
        height: px2vw(166px);
        background-image: url(../img/orn-home-product.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include mq($from: design) {
    div.container {
      div.interior {
        .bg-int-ornament-1 {
          left: (0px);
          top: (200px);
          width: (328px);
          height: (166px);
        }
      }
    }
  }
}

// Product - Bullet Points
.bg-info-bullet-point-with-image {

  div.container {
    div.interior {
      div.bg-int-ornament-1 {
        display: block;
        position: absolute;
        background-color: $remesh-blue-lighter;
      }
    }
  }

  &.info-right {
    div.container {
      div.interior {
        div.bg-int-ornament-1 {
          @include _px(
            top -34px -20px,
            left 174px 20px,
            right -46px -20px,
            bottom 54px
          );
        }
      }
    }
  }

  &.info-left {
    div.container {
      div.interior {
        div.bg-int-ornament-1 {
          @include _px(
            top -34px -20px,
            right 174px 20px,
            left -46px -20px,
            bottom 54px
          );
        }
      }
    }
  }
}

// Product - Multi-Page
.bg-multi-page-standard {
  div.container {
    div.interior {
      .bg-int-ornament-1 {
        display: block;
        position: absolute;
        @include _px(
          left -310px -80px,
          bottom -60px -30px,
          width 461px 160px,
          height 371px (160px * (371px / 461px))
        );
        background-image: url(../img/orn-product-multi-page.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

// Product - Form
.bg-info-form {
  div.container {
    div.interior {
      .bg-int-ornament-2 {
        display: block;
        position: absolute;
        right: px2vw(0px);
        top: px2vw(-82px);
        width: px2vw(188px);
        height: px2vw(216px);

        background-image: url(../img/orn-product-form.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include mq($from: design) {
    div.container {
      div.interior {
        .bg-int-ornament-2 {
          right: (0px);
          top: (-82px);
          width: (188px);
          height: (216px);
        }
      }
    }
  }
}

// Solutions - Steps
.bg-steps-panel {
  div.container {
    div.interior {
      .bg-int-ornament-2 {
        display: block;
        position: absolute;
        right: px2vw(0px);
        top: px2vw(-82px);
        width: px2vw(188px);
        height: px2vw(216px);

        background-image: url(../img/orn-product-form.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include mq($from: design) {
    div.container {
      div.interior {
        .bg-int-ornament-2 {
          right: (0px);
          top: (-82px);
          width: (188px);
          height: (216px);
        }
      }
    }
  }
}

// Company - Multi-Page Slider
.bg-multi-page-slider {
  div.container {
    div.interior {
      .bg-int-ornament-2 {
        display: block;
        position: absolute;
        left: px2vw(106px);
        bottom: px2vw(-168px);
        width: px2vw(188px);
        height: px2vw(216px);

        background-image: url(../img/orn-product-form.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include mq($from: design) {
    div.container {
      div.interior {
        .bg-int-ornament-2 {
          left: (106px);
          bottom: (-168px);
          width: (188px);
          height: (216px);
        }
      }
    }
  }
}

// Company - Stats
.bg-stats-panel {
  div.container {
    div.interior {
      .bg-int-ornament-2 {
        display: block;
        position: absolute;
        left: px2vw(20px);
        bottom: px2vw(-150px);
        width: px2vw(461px);
        height: px2vw(371px);
        transform: translateX(-50%);
        background-image: url(../img/orn-product-multi-page.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include mq($from: design) {
    div.container {
      div.interior {
        .bg-int-ornament-2 {
          left: (20px);
          bottom: (-150px);
          width: (461px);
          height: (371px);
        }
      }
    }
  }

}

// Request - Best of Two Worlds
.bg-comparison-grid {
  div.container {
    div.interior {
      .bg-int-ornament-2 {
        display: block;
        position: absolute;
        left: px2vw(-50px);
        top: px2vw(-90px);
        width: px2vw(174px);
        height: px2vw(343px);
        background-image: url(../img/orn-request-worlds.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include mq($from: design) {
    div.container {
      div.interior {
        .bg-int-ornament-2 {
          left: (-50px);
          top: (-90px);
          width: (174px);
          height: (343px);
        }
      }
    }
  }
}


