$remesh-blue-transparent: rgba(0, 105, 220, 0.10);
$remesh-blue: #0073E3;
$remesh-blue-light: #4498E9;
$remesh-blue-lighter: #BFD9F6;
$remesh-blue-dark: #0069DC;
$remesh-lightgray: #E6E7E8;
$remesh-aqua: #24DBC3;
$remesh-aqua-light: #BCF3EC;
$remesh-aqua-transparent: rgba(36, 219, 195, 0.3);
$remesh-orange: #F34F3F;
$remesh-red: $remesh-orange;
$remesh-yellow: #FFE106;
$remesh-light-yellow: #FFF6B4;
$remesh-text-gray: #868686;
$remesh-text-dark-gray: #424B5A;
$remesh-blue-gray: #505D68;
$remesh-gray: #A1AEB7;

