@font-face {
  font-family: 'centra_no2';
  src: url('../fonts/centrano2-black.woff2') format('woff2'),
  url('../fonts/centrano2-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'centra_no2';
  src: url('../fonts/centrano2-bold.woff2') format('woff2'),
  url('../fonts/centrano2-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'centra_no2';
  src: url('../fonts/centrano2-book.woff2') format('woff2'),
  url('../fonts/centrano2-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'centra_no2';
  src: url('../fonts/centrano2-medium.woff2') format('woff2'),
  url('../fonts/centrano2-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'centra_no2';
  src: url('../fonts/centrano2-bookitalic.woff2') format('woff2'),
  url('../fonts/centrano2-bookitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

// z-indexes
$z-background: 0;
$z-section: 10;
$z-top: 90;
$z-arrow: 95;
$z-header: 100;

// Typography
$base-font-family: 'centra_no2', $font-stack-system;
$heading-font-family: 'centra_no2', $base-font-family;
$alt-heading-font-family: 'centra_no2', $base-font-family;

$base-font-size: 16px;
$mobile-font-size: 11px;
$phablet-font-size: 13px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #000;
$medium-gray: #999;
$light-gray: #ddd;

$background-color: #FFFFFF;
$main-background-color: #FCF7F7;
$footer-background-color: #1C1717;
$highlight-color: #FC5047;
$highlight-text-color: #FFFFFF;
$primary-nav-color: #000;
$secondary-nav-color: #616161;

// Font Colors
$base-font-color: #000;
$action-color: $highlight-color;

// Animations
$base-duration: 150ms;
$base-timing: ease;

//Hamburger
$hamburger-padding-x           : 0px !default;
$hamburger-padding-y           : 0px !default;
$hamburger-layer-width         : 25px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-color         : #000 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;


//Transitions
$transition-duration: 1.25s;
$transition-delay: 0.25s;

// Animations


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
