section.company-hero {
  @extend %hero;

  div.container {
    @include _px(
      height 560px auto,
      min-height 560px auto
    );

    div.bg-ornament-1 {
      display: block;
      background-color: $remesh-aqua;
      position: absolute;
      left: 0px;
      @include _px(right 102px 40px);
      top: 0px;
      bottom: 0px;
    }

    div.interior {
      div.info {
        @include _px(margin-top 107px 30px);

        h1 {
          color: black;
        }

        p {
          color: black;
          @include _px(padding-right 100px 40px);
        }
      }

      div.other {
        @include _px(margin-top 42px 0px);
      }

      div.arrow {
        display: block;



        @include _px(
          left 50% -130px,
          top auto 295px 350px,
          bottom 85px auto,
          width 392px,
          height 126px
        );

        background-image: url(../img/arrow-blue.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        transform: translateX(-45%) rotateZ(4deg);

        @include until-phablet() {
          transform: scale(0.6) translateX(0) rotateZ(50deg);
        }


        @include mq($until: mobile-next) {
          top: 420px;
        }

        @include mq($from: mobile-next, $until: iphone-x-next) {
          top: 360px;
        }
      }
    }
  }
}