section.product-hero {
  @extend %hero;

  div.container {
    @include _px(
      height 560px auto,
      min-height 560px auto
    );

    div.bg-ornament-1 {
      display: block;
      background-color: $remesh-orange;
      position: absolute;
      
      @include _px(
        left 0px 0px,
        right 102px 0px,
        top 0px 0px,
        bottom 0px 0px
      );
    }

    div.interior {
      div.info {
        @include _px(margin-top 107px 30px);
      }

      div.other {
        @include _px(margin-top 42px 0px);
      }

      div.arrow {
        display: block;

        @include _px(
          right 200px -60px,
          bottom -320px -50px,
          width 190px,
          height 382px
        );

        background-image: url(../img/arrow-p-hero.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include until-phablet() {
          transform: scale(0.4) translateY(100%);
        }
      }
    }
  }
}
