.info-table-client-list {
  @extend %stacked-panel;

  @include _px(
    margin-top 244px,
    margin-right 0px,
    margin-bottom 244px,
    margin-left 0px
  );

  &.previous-info-icon-grid-full-width {
    @include _px(margin-top 144px 72px);
    @include _px(margin-bottom 244px 72px);
  }

  &.next-info-icon-grid {
    @include _px(margin-bottom 0px)
  }

  &.previous-demo-hero {
    @include until-phablet() {
      margin-top: mobile-px2vw(320px);
    }
  }

  div.client-list {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        display: block;
      }
    }
  }

  @include until-phablet() {
    &.previous-info-image {
      margin-top: mobile-px2vw(130px);
    }

    div.container {
      div.interior {
        div.header {
          display: flex;
          flex-direction: column;
          align-items: center;
          span.sub-header {
            text-align: center;
          }
          h2 {
            text-align: center;
            br {
              display: none;
            }
          }
        }
      }
    }

    div.client-list {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        li {
          display: block;
          margin-bottom: mobile-px2vw(44px);
        }
      }
    }
  }
}
