.demo-form-panel {
  @include _px(margin-top 112px);

  div.container {
    div.interior {
      background-color: $remesh-blue;

      @include until-phablet() {
        flex-direction: column;
      }

      @include _px(
        padding-top 100px 20px,
        padding-right 95px 20px,
        padding-bottom 100px 20px,
        padding-left 95px 20px
      );

      div.left {
        flex: 1;
        @include _px(margin-right 15px 0px);

        h2 {
          color: white;
          margin: 0;
          padding: 0;
          @include _rem(40px, 30px);
          @include _px(margin-bottom 30px 10px);
        }

        p {
          color: white;
          @include _rem(16px, 13px);
        }

        ul {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          
          @include _px(
            padding-right 40px 0px,
            margin-top 52px 20px
          );

          li {
            display: flex;
            align-items: center;
            @include _px(margin-bottom 30px 10px);

            span.number {
              display: flex;
              align-items: center;
              justify-content: center;
              
              @include _px(
                width 37px 30px,
                height 37px 30px,
                min-width 37px 30px,
                min-height 37px 30px,
                max-width 37px 30px,
                max-height 37px 30px,
                border-radius 37px 30px,
                margin-right 10px
              );

              font-weight: bold;
              @include _rem(20px, 14px);
              color: $remesh-aqua;
              border: 1px solid $remesh-aqua;
            }

            p {
              margin: 0;
            }
          }
        }
      }

      div.right {
        flex: 1;
        @include _px(margin-left 15px 0px, margin-top 0px 20px);

        .demo-form {
          padding: 0;

          & > * {
            @include _px(margin-bottom 20px 10px);
          }

          .form-row {
            input {
              @include _px(margin-right 20px 10px);
              &:last-of-type {
                @include _px(margin-right 0px);
              }
            }
          }

          input:not([type=submit]), textarea {
            background-color: $remesh-blue-lighter;
            border-radius: 8px;
            color: black;
            font-weight: bold;
            &::placeholder {
              font-weight: normal;
              color: $remesh-blue-light;
            }
          }

          textarea {
            @include _px(height 119px);
          }

          .form-buttons {
            @include _px(margin-bottom 0px);
          }
        }

        .hs-form {
          padding: 0;

          & > * {
            @include _px(margin-bottom 20px 10px);
          }

          fieldset {
            input {
              @include _px(margin-right 20px 0px, margin-bottom 0px);
              &:last-of-type {
                @include _px(margin-right 0px);
              }
            }
          }

          input:not([type=submit]), textarea {
            background-color: $remesh-blue-lighter;
            border-radius: 8px;
            color: black;
            font-weight: bold;
            &::placeholder {
              font-weight: normal;
              color: $remesh-blue-light;
            }
          }

          textarea {
            @include _px(height 119px);
          }

          .form-buttons {
            @include _px(margin-bottom 0px);
          }
        }
      }
    }
  }
}
