%hero {
  @extend %info;

  padding-top: 100px;

  div.container {
    div.interior {
      div.info {
        @include _px(
          margin-top 98px 0px,
          margin-right 0px,
          margin-bottom 98px 0px,
          margin-left 0px
        );
        
        h1 {
          color: white;

          em {
            position: relative;
            font-style: normal;
            &:after {
              content: ' ';
              position: absolute;
              background-image: url(../img/misc-underline-hero.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: top center;
              left: 50%;
              width: 110%;
              
              @include _px(
                bottom -8px -14px,
                height 22px 19px
              );

              transform: translateX(-50%);
            }

          }
        }

        p {
          color: white;
          @include _rem(20px, 14px);

          @include _px(
            padding-right 54px,
            line-height 1.25 1.75
          );
        }
      }

      div.other {
        min-height: 100%;
        margin: 0;
        @include _px(margin-top 80px);

        img {
          border-radius: 50%;
        }
      }
    }
  }

  @include mq($until: phablet-next) {
    div.container {
      div.interior {
        flex-direction: column;

        div.info {
          width: 100% !important;
          max-width: 100% !important;
        }

        div.other {
          margin: 0;
          max-height: mobile-px2vw(273px);
          min-height: mobile-px2vw(273px);
          height: mobile-px2vw(273px);

          img {
            position: relative;
            max-width: mobile-px2vw(273px);
            width: mobile-px2vw(273px);
            border-radius: 50%;
            transform: translate(mobile-px2vw(110px), mobile-px2vw(30px));
          }
        }
      }
    }
  }
}

@import "hero/home";
@import "hero/company";
@import "hero/solutions";
@import "hero/product";
@import "hero/demo";

body.has-announcement {
  section.page-hero {
    padding-top: 154px;


    @include mq($until: tablet-wide) {
      padding-top: 170px;
    }
  }
}