.stats-panel {
  @extend %info;

  @include _px(margin-top 130px 60px);

  div.container {
    div.interior {
      flex-direction: column;

      .bg-int-ornament-1 {
        z-index: 0;
        display: block;
        background-color: $remesh-light-yellow;
        position: absolute;

        @include _px(
          top 0px,
          left 0px,
          bottom 70px 40px,
          width 90% auto,
          right auto 0px
        );
      }

      div.header {
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include _px(
          height 108px 40px,
          width 80% auto,
          padding-right 0px 20px
        );

        span.sub-header {
          margin: 0;
          padding: 0;
        }
      }

      div.contents {
        z-index: 1;
        display: flex;

        @include until-phablet() {
          flex-direction: column;
        }

        ul.stats {
          display: flex;
          flex-direction: column;

          flex: 1;
          margin: 0;
          padding: 0;

          @include _px(
            padding-left 70px 20px,
            padding-right 70px 20px
          );

          @include until-phablet() {
            flex-direction: row;
            flex-wrap: wrap;

            @supports (display:grid) {
              display: grid;
              grid-template-columns: 1fr 1fr;
            }
          }


          li {
            display: block;
            margin: 0;
            padding: 0;
            @include _px(margin-bottom 46px 20px);

            span {
              display: block;
              color: $remesh-blue;
            }

            span.stat {
              @include _rem(36px, 18px);
              font-weight: bold;
              line-height: 1;
            }

            span.label {
              @include _rem(21px, 14px);
              line-height: 1.1;
            }
          }

        }

        div.photos {
          display: flex;
          flex-direction: column;

          @include until-phablet() {
            transform: translateX(mobile-px2vw(20px));
          }

          @include _px(
            min-width 810px 296px,
            max-width 810px 296px,
            width 810px 296px
          );

          div.photo {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

          }

          div.large {
            position: relative;

            @include _px(
              width 100%,
              height 504px (296px * (504px / 810px)),
              margin-bottom 18px 9px
            );

            span.caption {
              position: absolute;

              @include _px(
                right 44px 20px,
                top 44px 20px,
                line-height 1 1.25
              );

              text-align: right;
              display: block;
              @include _rem(40px, 14px);
              color: white;
              font-weight: bold;
              text-shadow: 0px 0px 6px rgba(0,0,0,0.5);
            }
          }

          div.second-row {
            @include _px(height 365px 146px);
            
            display: flex;

            div.medium {
              flex: 1;
              
              @include _px(
                width 502px 146px,
                min-width 502px 146px,
                max-width 502px 146px,
                height 365px 146px,
                margin-right 7px 4px
              );
            }

            div.right-col {
              flex: 1;
              @include _px(margin-left 7px 4px);
              display: flex;
              flex-direction: column;
              div.small {
                flex: 1;
                width: 100%;
                min-width: 100%;
                @include _px(margin-bottom 18px 9px);

                &:last-of-type {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}