@keyframes steps-slide-in {
  0% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0px);
  }
}

.steps-panel {
  @extend %info;

  @include _px(margin-top 120px 60px);

  &.previous-info-video {
    @include _px(margin-top 270px 120px);
  }

  div.container {
    div.interior {
      @include _px(
        padding-top 62px 40px !important,
        padding-bottom 62px
      );

      flex-direction: column;
      
      div.bg-int-ornament-1 {
        z-index: 0;
        display: block;
        position: absolute;
        
        @include _px(
          right -50px -20px,
          top 0px,
          width 15500px,
          bottom 0px
        );

        background-color: $remesh-lightgray;
      }

      div.header {
        z-index: 1;
        @include _px(margin-bottom 62px 20px);
      }

      ul.steps {
        z-index: 1;
        display: flex;
        margin: 0;
        padding: 0;

        @include until-phablet() {
          flex-direction: column;
        }

        li {
          opacity: 0;
          animation-fill-mode: forwards;
          flex: 1;
          display: block;
          @include _px(
            margin-right 15px 0px,
            margin-bottom 0px 20px
          );

          span.step {
            display: flex;
            align-items: center;
            justify-content: center;
            
            @include _px(
              width 55px 33px 36px,
              height 55px 33px 36px,
              border-radius 55px 33px 36px,
              margin-right 15px
            );

            background-color: $remesh-blue;
            color: white;
            @include _rem(40px, 28px);
            font-weight: bold;
          }

          div.header {
            display: flex;
            align-items: center;
            @include _px(margin-bottom 20px);

            @include until-phablet() {
              display: none;
            }


            hr {
              flex: 1;
              border: 1px solid $remesh-blue;
            }
          }

          h3 {
            @include _px(padding-right 20px);
            @include _rem(21px, 14px);
            font-weight: bold;

            @include until-phablet() {
              display: none;
            }
          }

          div.responsive {
            align-items: flex-start;
            display: none;

            @include until-phablet() {
              display: flex;
              h3 {
                margin: 0;
                display: block;
              }
            }
          }

          p {
            @include _px(
                padding-left 0px 48px 51px,
                padding-right 40px,
                margin-top 0px -12px -10px
            );

            @include _rem(16px, 13px);

            color: $remesh-gray;
          }

          &:last-of-type {
            margin-right: 0px;

            div.header {
              hr {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.background-aqua {
    div.container {
      div.interior {
        div.bg-int-ornament-1 {
          background-color: $remesh-aqua-transparent;
        }
      }
    }
  }

  &.transition--in {
    div.container {
      div.interior {
        ul.steps {
          li {
            animation-name: fade-in, steps-slide-in;
            animation-duration: $transition-duration;

            @for $i from 1 through 10 {
              &[data-transition-index='#{$i}'] {
                animation-delay: ($transition-delay * ($i - 1));
                div.icon {
                  animation-delay: ($transition-delay * ($i - 1));
                }
              }
            }
          }
        }
      }
    }
  }

  @include until-phablet() {
    @include info-mobile();
  }
}