$bullet-point-offset: 50px;

@keyframes bullet-point-slide-in {
  0% {
    transform: translateX($bullet-point-offset);
  }

  100% {
    transform: translateX(0px);
  }
}

.info-bullet-point {
  @extend %info;

  @include _px(margin-top 155px 30px);

  div.container {
    @include _px(padding-top 120px 0px);

    div.interior  {
      div.info {

        p {
          @include _rem(16px, !important);
          color: $remesh-text-gray;
          line-height: 1.5 !important;
        }
      }

      div.other {
        @include _px(
          height 576px,
          width 570px,
          max-width 570px,
          margin-right 64px,
          padding-top 0px 32px !important,
          padding-right 86px 0px !important,
          padding-bottom 0px 74px !important,
          padding-left 86px 0px !important
        );

        background: $remesh-blue-transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          position: relative;
          z-index: 2;
          padding: 0;
          margin:0;
          display: flex;
          flex-direction: column;
          width: 100%;

          li {
            padding: 0;
            margin:0;
            display: flex;
            align-items: center;
            width: 100%;
            opacity: 0;
            animation-fill-mode: forwards;

            @include _px(margin-bottom 70px 30px);

            &:last-of-type {
              @include _px(margin-bottom 0px);
            }

            & > div:first-of-type {
              display: flex;
              align-items: center;
              justify-content: center;

              border: solid $remesh-blue;
              @include _px(
                width 57px 42px,
                min-width 57px 42px,
                height 57px 42px,
                min-height 57px 42px,
                margin-right 26px 18px,
                border-width 2px
              );

              border-radius: 50%;
              color: $remesh-blue;
              @include _rem(28px);
            }

            & > div:last-of-type {
              @include _rem(18px, 13px);
            }
          }
        }
      }
    }
  }

  &.transition--in {
    div.container {
      div.interior {
        div.other {
          ul {
            li {
              animation-name: fade-in, bullet-point-slide-in;
              animation-duration: $transition-duration;

              @for $i from 1 through 10 {
                &[data-transition-index='#{$i}'] {
                  animation-delay: ($transition-delay * ($i - 1));
                  div.icon {
                    animation-delay: ($transition-delay * ($i - 1));
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include until-phablet() {
    @include info-mobile;

    div.container {
      div.interior  {
        div.info {
          flex: 0;

          h2 {
            margin: 0;
          }
        }

        div.other {
          flex: 1;
          width: 100% !important;
          max-width: none !important;
          height: auto !important;

          background: none;

          .bg-other-ornament-1 {
            z-index: 0;
            display: block;
            background: $remesh-aqua-light;
            position: absolute;
            left: 0px; top:0px; bottom: 0px; width: 1500px;
          }

          ul {
            margin-left: mobile-px2vw(32px);

            li {
              align-items: flex-start;
            }
          }
        }

        div.buttons-m {
          margin-top: mobile-px2vw(-55px);
          margin-left: mobile-px2vw(95px);
        }
      }
    }
  }
}