
$bullet-point-offset: 75px;

@keyframes bullet-point-other-slide-in-left {
  0% {
    transform: translateX($bullet-point-offset);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes bullet-point-other-slide-in-right {
  0% {
    transform: translateX((-1 * $bullet-point-offset));
  }

  100% {
    transform: translateX(0px);
  }
}

.info-bullet-point-with-image {
  @extend %info;

  @include _px(
    margin-top 175px 90px,
    min-height 456px 256px
  );

  &.previous-info-bullet-point-with-image {
    @include until-phablet() {
      margin-top: mobile-px2vw(110px);
    }
  }

  div.container {
    div.interior  {

      & > div.arrow {
        display: none;
        @include until-phablet() {
         display: block;
        }
      }

      div.info {
        @include _px(
          width 409px 300px,
          max-width 409px 300px
        );

        ul {
          margin: 0;
          padding-left: 0px;
          list-style: none;

          li {
            position: relative;
            margin: 0;
            @include _px(padding-left 18px 14px);
            @include _rem(16px, 14px);
            font-weight: bold;
            color: $remesh-text-gray;
            line-height: 1.5;

            &:before {
              content: ' ';
              position: absolute;

              @include _px(
                left 0px,
                top 7px 5px,
                width 10px 6px,
                height 10px 6px,
                border-radius 10px 6px
              );

              background-color: $remesh-orange;
            }
          }
        }


        @include until-phablet() {
          div.arrow {
            display: none;
          }
        }
      }

      div.other {
        animation-fill-mode: forwards;
        opacity: 0;

        @include _px(padding-top 50px 10px);

        & > img {
          position: relative;
        }
      }
    }
  }

  &.info-right {
    div.container {
      div.info {
        @include _px(margin-left 64px 0px);

        @include until-phablet() {
          padding-left: mobile-px2vw(40px);
        }
      }
    }
  }

  &.info-left {
    div.container {
      div.info {
        @include _px(margin-right 64px 0px);

        @include until-phablet() {
          padding-right: mobile-px2vw(40px);
        }
      }
    }
  }

  &.transition--in {
    &.info-left {
      div.container {
        div.interior {
          div.other {
            animation-name: fade-in, bullet-point-other-slide-in-left;
            animation-duration: $transition-duration;
          }
        }
      }
    }

    &.info-right {
      div.container {
        div.interior {
          div.other {
            animation-name: fade-in, bullet-point-other-slide-in-right;
            animation-duration: $transition-duration;
          }
        }
      }
    }
  }

  @include until-phablet() {
    @include info-mobile();
  }
}