.info-form-with-image {
  @extend %info;

  @include _px(margin-top 155px 60px);

  &.previous-info-circular-image {
    @include until-phablet() {
      margin-top: mobile-px2vw(0px);
    }
  }

  div.container {
    @include _px(padding-top 120px);

    div.interior  {
      div.info {
        justify-content: center;

        h2 {
          @include _rem(60px, 38px);
          @include _px(margin-bottom 50px);
        }

        form {
          position:relative;
          margin: 0;
          padding: 0;
          display: flex;

          label {
            display: none;
          }

          .hs-error-msgs {
            position: absolute;
            background-color: white;

            @include _px(
              top -30px,
              left -25px,
              padding-top 10px,
              padding-right 15px,
              padding-bottom 10px,
              padding-left 15px
            );
            transform: translate(0%, -100%);
            border-radius: 5px;
            border: 2px solid $remesh-lightgray;

            &:after, &:before {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }

            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-top-color: #FFFFFF;
              border-width: 8px;
              margin-left: -8px;
            }

            &:before {
              border-color: rgba(230, 231, 232, 0);
              border-top-color: #E6E7E8;
              border-width: 11px;
              margin-left: -11px;
            }

            display: flex;
            li {
              display: block;
            }

            label {
              display: block;
            }


          }

          &:after {
            position: absolute;
            content: ' ';
            background-image: url(../img/icon-mail.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include _px(
              left 10px,
              width 22px,
              height 18px
            );

            top: 50%;
            transform: translateY(-50%);
          }

          & > div.field:first-of-type {
            flex: 1;
            & > div {
              @include _px(margin-right 5px);

              input[type=email] {
                box-sizing: border-box;
                font-family: $base-font-family;
                position: relative;
                flex: 1;
                width: 100%;

                padding-top:6px;
                padding-right:6px;
                padding-bottom:6px;

                @include _rem(16px, 16px);

                @include _px(
                  padding-left 40px
                );

                border: 2px solid $remesh-lightgray;
                border-radius: 6px;
              }
            }
          }

          input[type=submit] {
            box-sizing: border-box;
            background-color: $remesh-orange;
            border: 2px solid $remesh-orange;
          }
        }
      }

      div.other {
        @include _px(
          height 583px,
          width 583px,
          max-width 583px,
          margin-left 64px
        );

        & > img {
          @include _px(width 583px);
          @include _transform(translateX 50px 5px, translateY 30px);
          height: auto;
          z-index: 2;
          border-radius: 50%;
        }
      }
    }
  }

  &.info-right {
    @include mq($from: phablet-next) {
      div.container {
        div.interior {
          div.info {
            order: 1;
            @include _px(margin-left 64px);
          }

          div.other {
            order: 0;
            margin-left: 0;
            & > img {
              @include _px(width 583px 252px, height 583px 252px);
              @include _transform(translateX -30px, translateY 30px);
              height: auto;
              z-index: 2;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  @include until-phablet() {
    @include info-mobile;

    div.container {
      div.interior {
        div.info {
          flex: 0;
          form {
            flex-direction: column;

            &:after {
              @include _px(
                left 10px,
                width 22px,
                height 18px,
                top 7px
              );

              transform: translateY(0);
            }

            & > div.field:first-of-type {
              flex: auto !important;
              margin-bottom: mobile-px2vw(10px);
            }
          }
        }


        div.other {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-end;
          width: 100%;
          min-width: 100%;
          height: mobile-px2vw(252px);

          & > img {
            width: mobile-px2vw(252px);
            height: mobile-px2vw(252px);
          }
        }
      }
    }
  }
}