.product-video {
  @extend %stacked-panel;

  margin-top: px2vw(112px);

  div.container {
    div.bg-other-ornament-1 {
      display: block;
      position: absolute;
      right: px2vw(-85px);
      top: px2vw(170px);
      height: px2vw(166px);
      width: px2vw(328px);
      background-image: url(../img/orn-p-video.svg);
      background-position: center left;
      background-size: contain;
      background-repeat: repeat-x;
      z-index: 0;
    }
    div.interior {
      div.header {
        margin-bottom: px2vw(30px);
      }
      div.video {
        div.video-container {
          position: relative;
          overflow: hidden;
          padding-top: 56.25%;

          iframe {
            position: absolute;
            left: 0; top: 0; width: 100%; height: 100%; border: 0;
          }
        }
      }
    }
  }


  @include mq($from: design) {
    margin-top: 112px;
  }
}