.info-table-vertical-cell {
  @extend %stacked-panel;

  @include _px(margin-top 374px 190px);

  &.previous-info-table-client-list {
    @include _px(margin-top 110px 30px);

  }


  div.container {
    div.interior {
      div.table {
        ul {
          li {
            opacity: 0;
            animation-fill-mode: forwards;

            & > img {
              width: 100%;
              height: auto;
            }

            & > div {
              background-color: white;

              h4 {
                font-weight: 500;
                color: $remesh-blue-gray;
                @include _rem(24px);
              }

              p {
                color: $remesh-gray;
                @include _rem(18px);
              }

              a {
                font-weight: bold;
                @include _rem(17px);


                &:hover {
                  color: rgba($remesh-blue, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }

  &.transition--in {
    div.container {
      div.interior {
        div.table {
          ul {
            li {
              animation-name: fade-in, stacked-slide-in;
              animation-duration: $transition-duration;

              @for $i from 1 through 10 {
                &[data-transition-index='#{$i}'] {
                  animation-delay: ($transition-delay * ($i - 1));
                  div.icon {
                    animation-delay: ($transition-delay * ($i - 1));
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include until-phablet() {
    div.container {
      div.interior {
        div.header {
          h2 {
            br {
              display: none;
            }
          }
        }

        div.table {
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
          margin-right: mobile-px2vw(-40px);
          margin-left: mobile-px2vw(-40px);
          padding-left:mobile-px2vw(40px);
          padding-bottom: mobile-px2vw(30px);

          ul {
            li {
              & > img {
                width: mobile-px2vw(270px);
              }

              &:last-of-type {
                padding-right: mobile-px2vw(40px);
              }
            }
          }
        }
      }
    }
  }
}
