@import "arrow-presets";

.arrow-home-hero {
	@extend %arrow-home-hero;
	
	@include mq($from: design) {
	}
}

.arrow-home-product {
	@extend %arrow-home-product;
	
	@include _px(
		left 80px auto,
		right auto 30px,
		bottom 0px 30px
	);

	transform: translateY(88%);

	@include until-phablet() {
		transform: translateY(100%) scale(2.2) rotateZ(-20deg);
	}
}

.arrow-home-solution {
	@extend %arrow-home-solution;


	left: px2vw(190px);
	bottom: 0px;

	transform: translateY(88%);

	@include mq($from: design) {
		left: (190px);
		bottom: 0px;
	}

	@include mq($until: phablet-next) {
		display: none;
	}
}

.arrow-home-about {
	@extend %arrow-home-about;

	@include _px(
		left 190px 20px,
		top 66px 14px
	);
	
	transform: translateY(-100%);

	@include until-phablet() {
		transform: scale(1.8) rotateZ(-30deg);
	}
}

.arrow-home-hiw {
	@extend %arrow-home-hiw;

	@include _px(
		left -40px auto,
		right auto 40px,
		bottom 0px 10px
	);

	@include _transform(translateY 542px);

	@include until-phablet() {
		transform: scale(1.3) translateY(100%);
	}

}

.arrow-home-casestudies {
	@extend %arrow-home-casestudies;

	@include _px(
		left 325px 40px,
		bottom -40px 40px
	);

	@include _transform(translateY 411px 60px);

	@include until-phablet() {
		transform: scale(1.7) translateY(100%) rotateZ(30deg);
	}
}

.arrow-product-hero {
	@extend %arrow-product-hero;
	
	@include mq($from: design) {
	}
}

.arrow-product-insights {
	@extend %arrow-product-insights;

	@include _px(
		left -20px auto,
		right auto 40px,
		top 270px auto,
		bottom auto 60px
	);

	@include until-phablet() {
		transform: scale(1.7) translateY(100%);
	}
}

.arrow-product-service {
	@extend %arrow-product-service;

	@include _px(
		left 320px -35px,
		top 370px auto,
		bottom auto 40px
	);

	@include until-phablet() {
		transform: scale(1.7) translateY(100%);
	}
}

.arrow-product-experience {
	@extend %arrow-product-experience;

	@include _px(
		right 0px -30px,
		bottom 140px 90px
	);

	transform: translateY(100%);
	@include until-phablet() {
		transform: scale(1.5) translateY(100%);
	}
}

.arrow-solutions-hero {
	@extend %arrow-solutions-hero;
	
	@include mq($from: design) {
	}
}

.arrow-solutions-reward {
	@extend %arrow-solutions-reward;

	@include _px(
		right -80px 20px,
		bottom -290px 100px
	);

	@include until-phablet() {
		transform: scale(2) translateY(100%);
	}
	
}

.arrow-solutions-feedback {
	@extend %arrow-solutions-feedback;

	@include _px(
		right -20px 20px,
		bottom -240px -20px
	);

	@include until-phablet() {
		transform: scale(2) translateY(0%) rotateZ(15deg);
	}
}

.arrow-solutions-timing {
	@extend %arrow-solutions-timing;

	@include _px(
		left 360px auto,
		right auto 0px,
		bottom -240px -40px
	);

	@include until-phablet() {
		transform: scale(-2, 2) translateY(0%) rotateZ(-30deg);
	}
}

.arrow-about-hero {
	@extend %arrow-about-hero;
	
	@include mq($from: design) {
	}
}

.arrow-about-started {
	@extend %arrow-about-started;
	
	@include _px(
		left 120px auto,
		right auto 20px,
		bottom -230px -30px
	);

	@include until-phablet() {
		transform: scale(-2, 2) translateY(0%) rotateZ(0deg);
	}
}

.arrow-about-careers {
	@extend %arrow-about-careers;

	@include _px(
		right 100px -20px,
		bottom -310px 60px
	);

	@include until-phablet() {
		transform: scale(1.4) translateY(100%) rotateZ(0deg);
	}
}

.arrow-about-press {
	@extend %arrow-about-press;

	@include _px(
		left 110px 50px,
		bottom -460px 0px
	);

	@include until-phablet() {
		transform: scale(1.6) translateY(100%) rotateZ(0deg);
	}
}

.arrow-about-team {
	@extend %arrow-about-team;

	@include _px(
		left 330px auto,
		right auto -20px,
		bottom -460px 20px
	);

	@include until-phablet() {
		transform: scale(-1.8, 1.8) translateY(100%) rotateZ(20deg);
	}
}

.arrow-request-hiw {
	@extend %arrow-request-hiw;

	@include _px(
		left 220px auto,
		right auto 0px,
		bottom -220px -20px
	);

	@include until-phablet() {
		transform: scale(-1.8, 1.8) translateY(0%) rotateZ(20deg);
	}
}

.arrow-request-step-by-step {
	@extend %arrow-request-step-by-step;


	@include _px(
		left 170px 0px,
		bottom -260px -60px
	);

	@include until-phablet() {
		transform: scale(1.5) translateY(0%) rotateZ(-10deg);
	}
}

.arrow-request-findings {
	@extend %arrow-request-findings;

	@include _px(
		right 20px -15px,
		bottom -360px 5px
	);

	@include until-phablet() {
		transform: scale(1.3) translateY(100%) rotateZ(0deg);
	}
}

.arrow-request-worlds {
	@extend %arrow-request-worlds;


	@include _px(
		left 440px 40px,
		bottom -310px 30px
	);

	@include until-phablet() {
		transform: scale(2) translateY(100%) rotateZ(0deg);
	}
}

