// Arrow Presets
%arrow-home-hero {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(401px);
    height: px2vw(163px);
    svg {
        position: absolute;
        width: px2vw(392px);
        height: px2vw(136px);
                transform: scaleY(-1) rotateZ(-4deg);
                        #arrow-392 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 401px;
        height: 163px;
        svg {
            width: 392px;
            height: 136px;
        }
    }
}

%arrow-home-product {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(259px);
    height: px2vw(393px);
    svg {
        position: absolute;
        width: px2vw(375px);
        height: px2vw(122px);
                transform: rotateZ(113deg);
                        #arrow-375 {
            fill: $remesh-yellow;
        }
            }

    @include mq($from: design) {
        width: 259px;
        height: 393px;
        svg {
            width: 375px;
            height: 122px;
        }
    }
}

%arrow-home-solution {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(272px);
    height: px2vw(385px);
    svg {
        position: absolute;
        width: px2vw(368px);
        height: px2vw(123px);
                transform: scaleY(-1) rotateZ(-116deg);
                        #arrow-368 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 272px;
        height: 385px;
        svg {
            width: 368px;
            height: 123px;
        }
    }
}

%arrow-home-about {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(272px);
    height: px2vw(385px);
    svg {
        position: absolute;
        width: px2vw(368px);
        height: px2vw(123px);
                transform: scaleY(-1) rotateZ(-116deg);
                        #arrow-368 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 272px;
        height: 385px;
        svg {
            width: 368px;
            height: 123px;
        }
    }
}

%arrow-home-hiw {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(248px);
    height: px2vw(508px);
    svg {
        position: absolute;
        width: px2vw(497px);
        height: px2vw(222px);
                transform: scale(-1, -1) rotateZ(-87deg);
                        #arrow-497 {
            fill: $remesh-red;
        }
            }

    @include mq($from: design) {
        width: 248px;
        height: 508px;
        svg {
            width: 497px;
            height: 222px;
        }
    }
}

%arrow-home-casestudies {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(264px);
    height: px2vw(357px);
    svg {
        position: absolute;
        width: px2vw(342px);
        height: px2vw(117px);
                transform: scaleY(-1) rotateZ(-62deg);
                        #arrow-342 {
            fill: $remesh-yellow;
        }
            }

    @include mq($from: design) {
        width: 264px;
        height: 357px;
        svg {
            width: 342px;
            height: 117px;
        }
    }
}

%arrow-product-hero {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(233px);
    height: px2vw(414px);
    svg {
        position: absolute;
        width: px2vw(392px);
        height: px2vw(136px);
                transform: rotateZ(105deg);
                        #arrow-392 {
            fill: $remesh-red;
        }
            }

    @include mq($from: design) {
        width: 233px;
        height: 414px;
        svg {
            width: 392px;
            height: 136px;
        }
    }
}

%arrow-product-insights {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(135px);
    height: px2vw(379px);
    svg {
        position: absolute;
        width: px2vw(375px);
        height: px2vw(122px);
                transform: rotateZ(92deg);
                        #arrow-375 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 135px;
        height: 379px;
        svg {
            width: 375px;
            height: 122px;
        }
    }
}

%arrow-product-service {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(191px);
    height: px2vw(349px);
    svg {
        position: absolute;
        width: px2vw(332px);
        height: px2vw(109px);
                transform: scaleY(-1) rotateZ(-75deg);
                        #arrow-332 {
            fill: $remesh-blue;
        }
            }

    @include mq($from: design) {
        width: 191px;
        height: 349px;
        svg {
            width: 332px;
            height: 109px;
        }
    }
}

%arrow-product-experience {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(281px);
    height: px2vw(410px);
    svg {
        position: absolute;
        width: px2vw(386px);
        height: px2vw(141px);
                transform: rotateZ(113deg);
                        #arrow-386 {
            fill: $remesh-red;
        }
            }

    @include mq($from: design) {
        width: 281px;
        height: 410px;
        svg {
            width: 386px;
            height: 141px;
        }
    }
}

%arrow-solutions-hero {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(199px);
    height: px2vw(456px);
    svg {
        position: absolute;
        width: px2vw(441px);
        height: px2vw(139px);
                transform: scaleY(-1) rotateZ(-98deg);
                        #arrow-441 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 199px;
        height: 456px;
        svg {
            width: 441px;
            height: 139px;
        }
    }
}

%arrow-solutions-reward {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(212px);
    height: px2vw(406px);
    svg {
        position: absolute;
        width: px2vw(386px);
        height: px2vw(141px);
                transform: rotateZ(101deg);
                        #arrow-386 {
            fill: $remesh-red;
        }
            }

    @include mq($from: design) {
        width: 212px;
        height: 406px;
        svg {
            width: 386px;
            height: 141px;
        }
    }
}

%arrow-solutions-feedback {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(154px);
    height: px2vw(384px);
    svg {
        position: absolute;
        width: px2vw(375px);
        height: px2vw(122px);
                transform: rotateZ(85deg);
                        #arrow-375 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 154px;
        height: 384px;
        svg {
            width: 375px;
            height: 122px;
        }
    }
}

%arrow-solutions-timing {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(299px);
    height: px2vw(344px);
    svg {
        position: absolute;
        width: px2vw(342px);
        height: px2vw(117px);
                transform: scaleY(-1) rotateZ(-127deg);
                        #arrow-342 {
            fill: $remesh-yellow;
        }
            }

    @include mq($from: design) {
        width: 299px;
        height: 344px;
        svg {
            width: 342px;
            height: 117px;
        }
    }
}

%arrow-about-hero {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(401px);
    height: px2vw(163px);
    svg {
        position: absolute;
        width: px2vw(392px);
        height: px2vw(136px);
                transform: scaleY(-1) rotateZ(-4deg);
                        #arrow-392 {
            fill: $remesh-blue;
        }
            }

    @include mq($from: design) {
        width: 401px;
        height: 163px;
        svg {
            width: 392px;
            height: 136px;
        }
    }
}

%arrow-about-started {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(167px);
    height: px2vw(387px);
    svg {
        position: absolute;
        width: px2vw(375px);
        height: px2vw(122px);
                transform: scaleY(-1) rotateZ(-83deg);
                        #arrow-375 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 167px;
        height: 387px;
        svg {
            width: 375px;
            height: 122px;
        }
    }
}

%arrow-about-careers {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(141px);
    height: px2vw(349px);
    svg {
        position: absolute;
        width: px2vw(342px);
        height: px2vw(117px);
                transform: rotateZ(86deg);
                        #arrow-342 {
            fill: $remesh-blue;
        }
            }

    @include mq($from: design) {
        width: 141px;
        height: 349px;
        svg {
            width: 342px;
            height: 117px;
        }
    }
}

%arrow-about-press {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(141px);
    height: px2vw(349px);
    svg {
        position: absolute;
        width: px2vw(342px);
        height: px2vw(117px);
                transform: scaleY(-1) rotateZ(-86deg);
                        #arrow-342 {
            fill: $remesh-red;
        }
            }

    @include mq($from: design) {
        width: 141px;
        height: 349px;
        svg {
            width: 342px;
            height: 117px;
        }
    }
}

%arrow-about-team {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(264px);
    height: px2vw(357px);
    svg {
        position: absolute;
        width: px2vw(342px);
        height: px2vw(117px);
                transform: scaleY(-1) rotateZ(-62deg);
                        #arrow-342 {
            fill: $remesh-yellow;
        }
            }

    @include mq($from: design) {
        width: 264px;
        height: 357px;
        svg {
            width: 342px;
            height: 117px;
        }
    }
}

%arrow-request-hiw {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(289px);
    height: px2vw(387px);
    svg {
        position: absolute;
        width: px2vw(375px);
        height: px2vw(122px);
                transform: scaleY(-1) rotateZ(-61deg);
                        #arrow-375 {
            fill: $remesh-aqua;
        }
            }

    @include mq($from: design) {
        width: 289px;
        height: 387px;
        svg {
            width: 375px;
            height: 122px;
        }
    }
}

%arrow-request-step-by-step {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(212px);
    height: px2vw(406px);
    svg {
        position: absolute;
        width: px2vw(386px);
        height: px2vw(141px);
                transform: scaleY(-1) rotateZ(-101deg);
                        #arrow-386 {
            fill: $remesh-red;
        }
            }

    @include mq($from: design) {
        width: 212px;
        height: 406px;
        svg {
            width: 386px;
            height: 141px;
        }
    }
}

%arrow-request-findings {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(141px);
    height: px2vw(349px);
    svg {
        position: absolute;
        width: px2vw(342px);
        height: px2vw(117px);
                transform: rotateZ(86deg);
                        #arrow-342 {
            fill: $remesh-yellow;
        }
            }

    @include mq($from: design) {
        width: 141px;
        height: 349px;
        svg {
            width: 342px;
            height: 117px;
        }
    }
}

%arrow-request-worlds {
    z-index: $z-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: px2vw(158px);
    height: px2vw(297px);
    svg {
        position: absolute;
        width: px2vw(282px);
        height: px2vw(106px);
                transform: scaleY(-1) rotateZ(-101deg);
                        #arrow-282 {
            fill: $remesh-blue;
        }
            }

    @include mq($from: design) {
        width: 158px;
        height: 297px;
        svg {
            width: 282px;
            height: 106px;
        }
    }
}


// Arrow Colors
.arrow-color-aqua {
    svg {
        path {
            fill: $remesh-aqua !important;
        }
    }
}

.arrow-color-yellow {
    svg {
        path {
            fill: $remesh-yellow !important;
        }
    }
}

.arrow-color-red {
    svg {
        path {
            fill: $remesh-red !important;
        }
    }
}

.arrow-color-blue {
    svg {
        path {
            fill: $remesh-blue !important;
        }
    }
}

