a.button, button.button, input[type=submit] {

  font-family: $base-font-family;
  display: block;
  padding: 6px 12px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  @include _rem(17px, 15.3px);
  background: $remesh-blue;
  border: 2px solid $remesh-blue;
  color: white;

  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;

  &:hover {
    background: rgba($remesh-blue, 0.5);
    border-color: rgba($remesh-blue, 0);
  }

  &.button-white {
    background: white;
    border: 2px solid white;
    color: $remesh-blue;
  }

  &.button-secondary {
    background: $remesh-blue;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }

  &.button-demo, &.hs-button {
    border-color: $remesh-orange;
    background: $remesh-orange;
    color: white;
  }
}

a {
  font-family: $base-font-family;
}