button.hamburger {
  &.is-active {
    span.hamburger-box {
      span.hamburger-inner {
        background-color: white !important;
        &:after {
          background-color: white !important;
        }
        &:before {
          background-color: white !important;
        }
      }
    }
  }
}

#mobile-bg {
  z-index: 9999;
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.66);
  opacity: 1;
  transition: opacity 0.3s linear, transform 0.3s linear;
  pointer-events: none;

  &.hidden {
    opacity: 0;
  }
}

#mobile-menu {
  position: absolute;
  background-color: black;
  color: white;
  z-index: 10000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include _px(
    right -55px auto,
    top -25px 0px,
    width 454px auto,
    padding-bottom 50px 0px
  );

  transition: opacity 0.3s linear, transform 0.3s linear;

  &.removed {
    pointer-events: none;
  }

  &.hidden {
    transform: scale(0.98, 0.98);
    opacity: 0;
  }

  div.header {
    display: flex;
    align-items: center;
    height: 100px;

    @include _px(width 350px 295px);

    & > a {
      svg {
        #logo-remesh {
          #remesh {
            path {
              fill: white;
            }
          }

          #primary-dot {
            fill: white;
          }

          #dot-1 {
            fill: white;
          }

          #dot-2 {
            fill: white;
          }
        }
      }
    }
  }

  div.contents {
    @include _px(width 350px 295px);

    table {
      tr {
        td {
          @include _px(
            padding-top 5px,
            padding-right 0px,
            padding-bottom 4px,
            padding-left 0px
          );

          vertical-align: middle;

          &.demo-link {
            @include _px(padding-top 30px);
          }

          a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            @include _rem(26px, 24px, 22px);
          }

          &.parent {
            @include _px(padding-right 10px);

            &.has-children {
              background-image: url(../img/menu-parent-indicator.svg);
              background-repeat: no-repeat;
              background-position: center right px2vw(15px);
              @include from-desktop() {
                background-position: center right 15px;
              }

              @include until-phablet() {
                background-position: center right mobile-px2vw(15px);
              }
            }
          }

          &.child {
            a {
              font-weight: 500;
              @include _rem(20px, 16px, 15px);
              color: #D7D7D7;
            }
          }

          a.demo {
            @include _rem(16px, 14px);
            white-space: nowrap;
            color: white;
            background: $remesh-orange;
            padding: 6px 12px;
            border-radius: 6px;
          }
        }
      }
    }
  }



  @include mq($until: phablet-next) {
    position: fixed;
    left: 0px; top: 0px; right:0px; bottom: 0px;

    &.hidden {
      transform: scale(1, 1);
    }
  }
}